<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.DishMapper">
    <select id="pageQuery" resultType="com.sky.vo.DishVO">
        <!--必须取对应的别名才能注入对应字段-->
        SELECT d.*, c.name AS categoryName FROM dish d LEFT OUTER JOIN category c ON d.category_id = c.id
        <where>
            <if test="categoryId != null">
                AND d.category_id = #{categoryId}
            </if>
            <if test="name != null and name != ''">
                AND d.name LIKE CONCAT('%',#{name},'%')
            </if>
            <if test="status != null">
                AND d.status = #{status}
            </if>
        </where>
        ORDER BY d.create_time DESC
    </select>

    <delete id="deleteBatch">
        DELETE FROM dish WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="countOnSale" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM dish WHERE status = 1 AND id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <update id="update">
        UPDATE dish
        <set>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="categoryId != null">category_id = #{categoryId},</if>
            <if test="price != null">price = #{price},</if>
            <if test="image != null and image != ''">image = #{image},</if>
            <if test="description != null and description != ''">description = #{description},</if>
            <if test="status != null">status = #{status},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateUser != null">update_user = #{updateUser},</if>
        </set>
        WHERE id = #{id}
    </update>

    <select id="list" parameterType="com.sky.entity.Dish" resultType="com.sky.entity.Dish">
        SELECT * FROM dish
        <where>
            <if test="categoryId != null">
                AND category_id = #{categoryId}
            </if>
            <if test="name != null and name != ''">
                AND name LIKE CONCAT('%',#{name},'%')
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

    <select id="countByMap" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT COUNT(id) FROM dish
        <where>
            <if test="status != null">status = #{status}</if>
        </where>
    </select>
</mapper>
